* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  width: 800px;
  min-height: 400px;
  margin: 100px auto;
  background-color: #ebebeb;
}

.title {
  font-family: Roboto, sans-serif;
  text-align: center;
  padding-top: 15px;
  font-size: 85px;
  color: blue;
  font-weight: 100;
  margin-bottom: 12px;
}

.form {
  text-align: center;
}

.form-input {
  font-size: 17px;
  margin: 5px;
  padding: 3px;
}
.edit-text {
  text-align: center;
  color: lightslategray;
  padding-bottom: 10px;
}

.btn {
  font-size: 17px;
  padding: 2px;
  border-radius: 7px;
  background-color: lightskyblue;
}

.footer {
  text-align: center;
  margin: 23px;
  color: lightslategray;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
}
